<style>
     body {
        background-image:none
    }
    h3 {
        clear: both;
    }
    .gifResultDiv {
        text-align: center;
    }
    .biggif {
        width: 100%; 
        margin: 0 auto; 
        position: relative;
    }
        .biggif img {
            width: 100%;
        }
    .gifthumbs {
        width: 800px; 
        margin: 0 auto; 
        position: relative;
    }
    .gif {
        width: 180px;
        position: relative; 
        float: left;
    }
        .gif img {
            width: 180px;
        }
    .gifurl {
        word-wrap: break-word;
    }
</style>
<div class="searchBoxResults">
    <div class="searchLogo">
        <h1>
            Matt'll Search It
        </h1>
    </div>
    <div class="searchForm">
        <form action="/search" class="searchForm">
            <input type="text" class="searchTerm" name="searchTerm" />
            <input type="submit" class="searchSubmit" value=""/>
        </form>
    </div>
</div>
{{#if sponsoredResults.length}}
<div class="gifResultDiv">
    {{#each sponsoredResults}}
        {{#unless @index}}
        <div class="biggif">
            <img src="{{this}}">
            <br />
            <span class="gifurl">{{this}}</span>
        </div>
        {{/unless}}
    {{/each}}
    <div class="gifthumbs">
    {{#each sponsoredResults}}
        {{#if @index}}
        <div class="gif" style="{{#if @last}} margin: 10px 10px 0 10px;{{else}} margin: 10px 10px 0 10px;{{/if}}">
            <img src="{{this}}">
            <br />
            <span class="gifurl">{{this}}</span>
        </div>
        {{/if}}
    {{/each}}
    </div>
</div>
{{/if}}
{{#if gifResults.length}}
<h3>gifs</h3>
<div class="gifResultDiv">
    {{#each gifResults}}
    <div class="gif" style="margin: 10px 0 10px 20px;">
        <img src="{{this.url}}">
        <br />
        <span class="gifurl">{{this.url}}</span>
    </div>
    {{/each}}
</div>
{{/if}}
{{#if majesticSearchResults.length}}
<h3>urls</h3>
<div>
    {{#each majesticSearchResults}}
    <p>
        <a href="{{this.url}}">{{this.url}}</a> ({{this.trustFlow}})
        <br />{{this.title}}
    </p>
    {{/each}}
</div>
{{/if}}
{{#if noResults}}
<div class="noResults">
    <p>
        <img src="http://31.media.tumblr.com/accf791f219739b74eb610c343a07cbb/tumblr_n11pkqDHv51t0nw3lo1_500.gif"><br />
        Sorry, this almost never happens...
    </p>
</div>
{{/if}}