{{#if mode}}
<style>
     body {
        background-image:none;
        background:rgba(0,0,0,0.9);
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
</style>
{{else}}
<style>
     body {
        background-image:none
    }
</style>
{{/if}}
<script>
    $( document ).ready(function() {
        // make selected gif the main focus
        $('img.gifimg').click(function(){
            // get urls
            var smallImg = $(this).attr('src');
            var bigImg = $("#biggifimg").attr('src');

            // swap images
            $("#biggifimg").attr('src', smallImg);
            $(this).attr('src', bigImg);

            // swap urls
            $(this).closest('div').find("span").text(bigImg);
            $("#biggifimgurl").text(smallImg);

            return false;
        });
    });
</script>

<div class="searchBoxResults">
    <div class="searchLogo">
        <a href="/">
            <h1>Matt'll Search It</h1>
        </a>
    </div>
    <div class="searchForm">
        <form action="/search" class="searchForm">
            <input type="text" class="searchTerm" name="searchTerm" value="{{searchTerm}}"/>
            <input type="submit" class="searchSubmit" value=""/>
        </form>
    </div>
</div>
{{#if sponsoredResults.length}}
<div class="gifResultDiv">
    {{#each sponsoredResults}}
        {{#unless @index}}
        <div class="biggif">
            <img src="{{this.url}}" id="biggifimg">
            <br />
            <span class="gifurl" id="biggifimgurl">{{this.url}}</span>
        </div>
        {{/unless}}
    {{/each}}
    <div class="gifthumbs">
    {{#each sponsoredResults}}
        {{#if @index}}
        <div class="gif" style="{{#if @last}} margin: 10px 10px 0 10px;{{else}} margin: 10px 10px 0 10px;{{/if}}">
            <img src="{{this.url}}" class="gifimg" width="200px">
            <br />
            <span class="gifurl" id="gifimgurl">{{this.url}}</span>
        </div>
        {{/if}}
    {{/each}}
    </div>
</div>
{{/if}}
{{#if youtubeResults.length}}
<div class="gifResultDiv" style="margin-top: 10px;">
    {{#each youtubeResults}}
    <iframe title="{{this.title}}" src="http://www.youtube.com/embed/{{this.id}}" width="480px" height="390px"></iframe>
    {{/each}}
</div>
{{/if}}
{{#if gifResults.length}}
<h3>gifs</h3>
<div class="gifResultDiv">
    {{#each gifResults}}
    <div class="gif" style="margin: 10px 0 10px 20px;">
        <img src="{{this.url}}">
        <br />
        <span class="gifurl">{{this.url}}</span>
    </div>
    {{/each}}
</div>
{{/if}}
{{#if majesticSearchResults.length}}
<h3>urls</h3>
<div>
    {{#each majesticSearchResults}}
    <p>
        <a href="{{this.url}}">{{this.url}}</a> ({{this.trustFlow}})
        <br />{{this.title}}
    </p>
    {{/each}}
</div>
{{/if}}
{{#if noResults}}
<div class="noResults">
    <img src="http://31.media.tumblr.com/accf791f219739b74eb610c343a07cbb/tumblr_n11pkqDHv51t0nw3lo1_500.gif"><br />
    Sorry, this almost never happens...
</div>
{{/if}}